/*reset*/
* {
    font-family: "微软雅黑";
    margin: 0;
    padding: 0;
    color: black; /*font-size:16px;*/
}

li {
    list-style: none;
}

h1, h2 {
    font-weight: normal;
}

img {
    display: block;
    border: none 0;
}

a {
    text-decoration: none;
}

html, body {
    width: 100%;
    height: 100%;

}

/*head*/
.dszx_fix {
    width: 255px;
    height: 185px;
    position: fixed;
    top: 40%;
    right: 1%;
    background-image: url(../images/fixbg.png)
}

.dszx_top {
    width: 230px;
    height: 110px;
    margin: 10px auto 0 auto;
    border-bottom: 2px solid #044079;
}

.dszx_top h1 {
    color: #044079;
    font-size: 18px;
}

.dszx_top p {
    margin-top: 16px;
}

.dszx_top p a {
    color: white;
    font-size: 14px;
    margin-top: 16px;
    cursor: pointer;
}

.dszx_bottom {
    width: 230px;
    margin: 0 auto;
    padding-top: 5px;
}

.dszx_bottom p {
    color: white;
    font-size: 12px;
    margin-top: 5px;
}

#box {
    margin: 0 auto;
    height: 80px;
    background: url(../images/head_bg_01.jpg) top center no-repeat;
    width: 1000px;
}

.bg {
    width: 100%;
    height: 75px;
    background-color: #444;
    opacity: 0.5;
    position: absolute;
    top: 0;
}

.arrowdown {
    width: 42px;
    height: 28px;
    position: absolute;
    left: 340px;
    margin-top: 485px;
    background-image: url(../images/arrowdown.png);
    animation: mymove 1.5s infinite;
    -webkit-animation: mymove 1.5s infinite;
}

@keyframes mymove {
    from {
        top: 245px;
        opacity: 0.1;
    }
    to {
        top: 260px;
        opacity: 1;
    }
}

@-webkit-keyframes mymove {
    from {
        top: 245px;
        opacity: 0.1;
    }
    to {
        top: 260px;
        opacity: 1;
    }
}

#box .navbox ul li {
    float: left;
    font-size: 16px;
    color: white;
}

#box .navbox ul li a {
    font-size: 16px;
    color: white;
}

.logo {
    margin: 11px 40px 0 110px;
    width: 240px;
    height: 58px;
}

.nav1 {
    width: 65px;
    height: 28px;
    line-height: 28px;
    margin-top: 25px;
    margin-right: 20px;
    text-align: center;
}

.nav2 {
    border-bottom: 1px solid #2da4ff;
}

.nav3 {
    background-color: #2da4ff;
    border-radius: 13px;
    -webkit-border-radius: 13px;
}

.btnbox {
    width: 720px;
    margin-left: 105px;
    margin: 0 auto;
    clear: left;
}

.btn {
    float: left;
    margin: 10px;
    cursor: pointer
}

.contain {
    width: 1000px;
    margin: 0 auto;
    background: #fafafa
}

#content {
    background-color: #fafafa;
}

#dsgk {
    width: 1000px;
    margin: 0 auto;
    padding-top: 40px;
}

#dsgk img {
    margin: 0 auto;
}

#dsgk p {
    width: 1000px;
    margin: 25px auto 0 auto;
}

#zzjg {
    width: 1000px;
    margin: 40px auto 0 auto;
}

#zzjg img {
    margin: 0 auto;
}

#zzjg p {
    width: 603px;
    height: 250px;
    margin: 25px auto 40px auto;
}

.imgbox {
    clear: left;
    width: 1000px;
    margin: 20px auto 0 auto;
}

.imgbox img {
    float: left;
    width: 180px;
    margin: 0 75px 20px 75px;
    border: 1px solid #eeeeee;
}

#hzmt .hzmttext {
    width: 1000px;
    margin: 0 auto;
}

.hzmttext h1 {
    margin-top: 40px;
    font-weight: bold;
    font-size: 18px;
}

.hzmttext h2 {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
}

.hzmttext p {
    margin-top: 10px;
    text-indent: 32px;
    font-size: 14px;
    font-weight: none;
    color: #333;
}

.footimg {
    float: left;
    width: 310px;
}

.footbox {
    width: 1000px;
    margin: 0 auto;
    background: #fafafa;
    padding-top: 10px;
    text-align: center
}

.footbox p {
    padding: 20px 0;
    font-size: 14px;
}

/*dsjs*/
#dsjs_head {
    height: 267px;
    background: url(../images/dsjs_bg.jpg) top center no-repeat;
}

#dsjs_box {
    height: 267px;
    margin: 0 auto;
    width: 1000px;
    background: url(../images/dsjs_bg2.jpg) center no-repeat;
}

.dsjs_navbox {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

#dsjs_box .dsjs_navbox ul li {
    float: left;
    font-size: 16px;
    color: white;
}

#dsjs_box .dsjs_navbox ul li a {

    font-size: 16px;
    color: white;
}

.dsjs_bg {
    width: 100%;
    height: 75px;
    background-color: #444;
    opacity: 0.5;
    position: absolute;
    top: 0;
}

#dsjs_content {
    width: 1000px;
    margin: 0 auto;
}

#dsjs_content .part h1 img {
    margin: 0 auto;
}

.top_linebox {
    width: 100%;
    background-color: #fafafa;
}

.top_line {
    background-image: url(../images/dsjs_7.png);
    width: 1000px;
    height: 58px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}

.part {
    width: 1000px;
}

.part h2 {
    background-image: url(../images/dsjs_6.png);
    background-position: left;
    background-repeat: no-repeat;
    color: #333333;
    padding-left: 40px;
    margin: 40px 0 25px 0;
    font-size: 16px;

}

.part p {
    text-indent: 32px;
    margin: 0 15px;
    color: #333333;
    text-align: center;
}

.part h1 {
    margin-top: 40px;
}

.part img {
    margin: 0 auto;
}

.part .img1 {
    margin: 60px 0 140px 0;
}

.part .img2 {
    width: 1000px;
}

.part .img2 img {
    width: 100%;
}

.part3 h2 {
    margin-left: 120px;
}

.part3 li {
    margin-left: 130px;
    text-indent: 32px;
    margin-bottom: 10px;
}

.part4 h2 {
    margin-left: 120px;
}

table {
    cellspacing: 0;
    cellpadding: 0;
    margin: 25px auto;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
}

tr, td, th {
    cellspacing: 0;
    cellpadding: 0;
    border: 1px solid #626262;
}

.part table tr, td, th {
    height: 25px;
}

.part5 {
    overflow: hidden;
}

.part5 .jj {
    width: 680px;
    text-align: center;

    margin: 20px auto 50px auto;
    overflow: hidden;
}

.part5 .jj p {
    height: 50px;
    line-height: 50px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
}

.part5 .jj p:hover {
    background-color: #e4e4e5;
}

.tableline:hover {
    background-color: #f5f5f5;
}

/*项目展示首页*/

#xmzs_content {
    width: 1200px;
    margin: 0 auto;
}

.rqph {
    margin: 20px 0 40px 0;
}

.p-top {
    width: 1200px;
    height: 32px;
    border-bottom: 2px solid #2ca4ff;
    line-height: 32px;
}

.p-top h1 {
    font-size: 21px;
    color: #2ca4ff;
    float: left;
}

.pic {
    float: left;
    margin: 2px 0 0 12px;
}

.ph {
    width: 1200px;
    border: 1px solid #dcdcdc;
    margin-top: 28px;
    background-color: #fafafa;
}

.ph-left {
    width: 300px;
    background-color: #2ca4ff;
    position: relative;
    float: left;
}

.ph-left ul li {
    width: 300px;
}

.ph-left ul li p {
    color: white;
}

.line_1 {
    padding-top: 10px;
}

.selected {
    font-size: 21px;
    padding: 25px 0 20px 0;
}

.ph-left ul li img {
    float: left;
    margin-right: 30px;
    height: 50px;
}

.ph_hg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    margin-top: 0;
}

.bgred {
    background-image: url(../images/activity/ph-red.png);
    height: 80px;
    padding: 0px 0 20px 0;
}

.bgred img {
    margin: 16px 0 0 16px;
}

.bgblue {
    height: 60px;
    clear: left;
    border-bottom: 1px solid #0891f9
}

.bgblue img {
    height: 60px;
    padding-top: 10px;
    padding: 5px 0 5px 16px;
}

.ph-right {
    float: left;
    width: 900px;
}

.ph-rightimg {
    float: right;
    margin: 16px 16px 0 0;
    border: 1px solid #dcdcdc;
    width: 464px;
    height: 287px;
    background-image: url(../images/activity/1.gif);
    background-size: 100%;
}

.ph-rightimg img {
    width: 100%;
    height: 100%
}

.middle {
    float: left;
    width: 410px;
}

.middle h1 {
    margin: 18px 0 0 36px;
    font-size: 19px;
}

.middle p {
    margin: 10px 0 0px 36px;
    font-size: 11px;
    color: #606060
}

.wjx {
    float: left;
    width: 140px;
    height: 60px;
    margin: 30px 0 0 55px;
    background-color: #eeeeee;
}

.wjx p {
    font-size: 24px;
    color: #2da4ff;
    text-align: center;
    margin: auto;
}

.wjxbg {
    width: 20px;
    background-image: url(../images/activity/wjx.png);
    height: 20px;
    margin: 0 auto;
    cursor: pointer;
}

.wjxbg:hover {
    background-image: url(../images/activity/wjx1.png);
}

.shoubg {
    width: 26px;
    background-image: url(../images/activity/shou.png);
    height: 20px;
    margin: 0 auto;
    cursor: pointer;
}

.shoubg:hover {
    background-image: url(../images/activity/shou1.png);
}

.shou {
    float: left;
    width: 140px;
    height: 60px;
    margin: 30px 0 0 25px;
    background-color: #eeeeee;
}

.shou p {
    font-size: 24px;
    color: #ff6458;
    text-align: center;
    margin: auto;
}

.rwjs {
    width: 375px;
    height: 50px;
    margin: 24px 0 0 26px;
    background-color: #f5f5f5;
}

.rwbox {
    width: 110px;
    float: left;
    height: 38px;
    margin: 6px 0 0 10px;
}

.rwbox img {
    float: left;
    width: 38px;
    height: 38px;
    border-radius: 19px;
    -webkit-border-radius: 19px;
}

.rwbox .name {
    font-size: 16px;
    color: #575757;
    margin: 0 0 0 45px;
}

.rwbox .zw {
    font-size: 11px;
    color: #999999;
    margin: 0 0 0 45px;
}

.pinglunimg {
    float: left;
    background: url(../images/activity/pinglun.png) no-repeat left;
    width: 24px;
    height: 21px;
}

.pinglunimg:hover {
    background-image: url(../images/activity/xmzsxq_icon_3_red.png);
}

.pinglun {
    float: left;
    width: 100px;
    margin: 25px 0 0 160px;
}

.weizhi img {
    float: left;
    margin-right: 10px;
}

.weizhi {
    float: left;
    width: 120px;
    margin: 25px 0 0 20px;
}

.search {
    float: left;
    width: 200px;
    height: 24px;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    border: 1px solid #dcdcdc;
    margin: 4px 0 0 10px;
    line-height: 24px;
    position: relative
}

.search img {
    position: absolute;
    left: 175px;
    top: 6px;
}

.p-top input {
    width: 150px;
    margin-left: 10px;
    font-size: 14px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #999999;
    border: none;
}

.p-top ul li {
    float: left;
    width: 75px;
    height: 28px;
    text-align: center;
    margin-top: 4px;
    margin-right: 5px;
    font-size: 14px;
    cursor: pointer;
}

.p-top ul li a {
    color: white;
}

.hide {
    display: none;
}

.selectblue {
    background-color: #2da4ff;
    color: white;
}

.zxsx {
    margin-left: 570px;
}

.xmzs, .dszx, .hzjg, .hzmt {
    margin-bottom: 20px;
}

.gd {
    margin-left: 1020px;
}

.blueblock {
    background-color: #2da4ff;
    width: 6px;
    height: 15px;
    margin: 10px 0 0 8px;
    float: left;
}

.xm_line {
    width: 1200px;
    margin-top: 40px;
    margin-bottom: 35px;
}

.xm_box {
    width: 270px;
    border: 1px solid #dcdcdc;
    float: left;
    margin-left: 37px;
}

.ml-0 {
    margin-left: 0;
}

.xm_box img {
    margin: 5px auto;
}

.xm_box .p1 {
    float: left;
    margin-left: 10px;
    margin-bottom: 3px;
    font-size: 16px;
}

.xm_box .p2 img {
    float: left;
    margin: 0 2px 0 0;
}

.xm_box .p2 {
    float: right;
    margin-right: 5px;
    font-size: 14px;
    color: #9b9b8c
}

.xm_box .p3 {
    clear: left;
    margin: 0px 5px 0 10px;
    font-size: 12px;
    color: #878787;
    height: 36px;
}

.sc {
    float: left;
    width: 125px;
    margin-left: 9px;
    margin-bottom: 10px;
    text-align: center;
    height: 60px;
    border-right: 1px solid #dcdcdc;
}

.sc p {
    color: #2da4ff;
    font-size: 28px;
}

.sc img {
    margin: 0 auto;
}

.dz {
    float: left;
    width: 125px;
    margin-left: 10px;
    text-align: center;
    height: 60px;
}

.dz p {
    color: #ff6458;
    font-size: 28px;
}

.dz img {
    margin: 0 auto;
}

.xm .logo {
    clear: left;
    margin: 0;
    width: 270px;
    padding-top: 5px;
    background-color: #f6f6f6
}

.xm .logo img {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.xm .logo .name, .logo .wz {
    font-size: 12px;
}

.xm .logo .name {
    margin-top: 12px;
}

.dszx_box {
    margin: 33px 0 0px 20px;
    overflow: hidden;
    border-bottom: 1px dashed #dcdcdc;
    padding-bottom: 33px;
    padding-right: 10px;
}

.dszx_box img {
    float: left;
    margin-right: 30px;
}

.dszx_box h1 {
    font-size: 25px;
    color: #212121;
}

.dszx_box p {
    font-size: 13px;
    color: #545454;
    margin-top: 10px;
}

.time {
    margin-top: 12px;
    font-size: 12px;
}

.time img {
    margin-right: 30px;
}

/*大赛评委*/

.dspwbox {
    border-bottom: 1px dashed #d8d8d8;
    overflow: hidden;
    position: relative;
}

.pwlogo {
    width: 200px;
    height: 140px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    float: left;
    margin: -70px 65px 0 35px;
    position: absolute;
    top: 50%;
}

.skzb {
    background: url(../images/shoukeziben.png) center center no-repeat;
}

.hbtz {
    background: url(../images/haibangtouzi.png) center center no-repeat;
}

.lhtz {
    background: url(../images/lvhetouzi.png) center center no-repeat;
}

.pwtext {
    float: right;
    width: 890px;
    margin: 20px 0;
}

.pwtext h1, .pwtext img {
    float: left;
}

.pwtext img {
    margin-left: 10px;
    margin-bottom: 5px;
}

.pwtext h1 {
    font-size: 16px;
    font-family: "宋体";
    font-weight: bold;
    margin-top: 8px;
}

.tzgm {
    clear: left;
    font-size: 14px;
    color: #a5a5a5;
    margin-bottom: 5px;
}

.gz {
    width: 28px;
    height: 16px;
    background-color: #2ca4ff;
    color: white;
    font-size: 12px;
    line-height: 16px;
    margin-right: 10px;
    text-align: center;
    display: block;
    float: left;
}

.lx {
    font-size: 12px;
    color: #777777;
    display: block;
    float: left;
}

.jj {
    float: left;
    color: black;
    margin-top: 5px;
    width: 55px;
}

.jjcontent {
    float: left;
    color: #333333;
    width: 835px;
    margin-top: 5px;
}

.yema ul li {
    float: left;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}

.yema ul li a {
    color: #7f7f7f;
}

.yema {
    width: 400px;
    height: 28px;
    margin: 50px auto;
    line-height: 28px;
}

/*大赛展示详情页*/
.dszsxq_left {
    float: left;
    width: 160px;
    height: 160px;
    background-color: #f4f4f4;
    margin: 20px 60px 0 30px;
}

.dszsxq_left h1 {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    color: #444444;
}

.dszsxq_left p {
    text-align: center;
    font-size: 80px;
    color: #111111;
}

.dszsxq_right {
    float: left;
    width: 896px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.dszsxq_right img {
    margin-bottom: 35px;
}

.dszsxq_right p {
    font-size: 14px;
    color: #3e3e3e;
    margin-bottom: 45px;
}

/*大赛展示详情页*/

.xmzsxq_content {
    width: 1200px;
    margin: 0 auto;
}

.xmzsxq_imgbox {
    float: left;
    width: 710px;
    height: 443px;
    border: 1px solid #d8d8d8;
    margin-top: 40px;
    background-color: white;
}

.xmzsxq_imgbox img {
    margin: 5px;
    width: 700px;
    height: 433px;
}

.xmzsxq_box {
    float: left;
    width: 476px;
    margin: 40px 0 0 10px;
    border: 1px solid #d8d8d8;
    background-color: white;
    position: relative;
}

.xmzsxq_box_top {
    height: 70px;
    border-bottom: 1px dashed #d8d8d8
}

.xmzsxq_box_top h1 {
    font-size: 24px;
    margin: 16px 0 0 10px;
    color: #333333
}

.xmzsxq_box_top p {
    font-size: 12px;
    margin: 8px 0 0 10px;
    color: #666666;
}

.xmzsxq_box_middle table tr td {
    font-size: 12px;
    line-height: 35px;
}

.xmzsxq_box_middle table tr, .xmzsxq_box_middle table tr td {
    border: 1px solid #e0e0e0;
}

.xmzsxq_box_middle table {
    border: none;
}

.redbutton {
    width: 134px;
    height: 48px;
    background-color: #ff6559;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
    margin-left: 20px;
    cursor:
}

.redbutton img {
    float: left;
    margin: 14px 12px;
}

.redbutton p {
    font-size: 14px;
    color: white;
    line-height: 48px;
}

.greenbutton {
    width: 134px;
    height: 48px;
    background-color: #a5ca4d;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
    margin-left: 20px;
}

.greenbutton img {
    float: left;
    margin: 14px 12px;
}

.greenbutton p {
    font-size: 14px;
    color: white;
    line-height: 48px;
}

.bluebutton {
    width: 134px;
    height: 48px;
    background-color: #50abf2;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
    margin-left: 20px;
}

.bluebutton img {
    float: left;
    margin: 14px 12px;
}

.bluebutton p {
    font-size: 14px;
    color: white;
    line-height: 48px;
}

.buttonbox {
    border-bottom: 1px dashed #d8d8d8;
    overflow: hidden;
    padding-bottom: 14px;
}

.iconbox img {
    float: left;
    margin: 9px 7px;
    cursor: pointer;
}

.xmzsxq_middle {
    margin-top: 25px;
    border: 1px solid #d8d8d8;
    background-color: white;
}

.xmzsxq_rwjs {
    overflow: hidden;
    width: 1198px;
    height: 107px;
    background-color: #f5f5f5
}

.rwjsbox {
    width: 210px;
    float: left;
    height: 80px;
    margin: 15px 0 0 50px;
}

.rwjsbox img {
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    margin-right: 20px;
}

.rwjsbox .name {
    font-size: 20px;
    color: #575757;
    line-height: 50px;
}

.rwjsbox .zw {
    font-size: 16px;
    color: #999999;
    line-height: 20px;
}

.xmzlbox {
    width: 1180px;
    margin: 0 auto;
    border-bottom: 2px solid #ff4a03;
    overflow: hidden;
    margin-top: 45px;
}

.xmzlbox li {
    float: left;
    height: 35px;
    width: 90px;
    color: #333333;
    margin-left: 30px;
    text-align: center;
    line-height: 35px;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    cursor: pointer;
}

.xmzlbox .redbg1 {
    background-color: #ff4a03;
    color: white;
}

.xmzlcontent {
    width: 1120px;
    margin: 20px auto 30px auto;
    font-size: 14px;
}

.xmzsxq_bottom {
    width: 1198px;
    height: 400px;
    border: 1px solid #d8d8d8;
    background-color: white;
    margin: 20px auto 90px auto;
}
